(
.notdef,
uni0000,
uni000D,
space,
period,
colon,
comma,
semicolon,
question,
exclam,
quotesingle,
quotedbl,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
ellipsis,
uni00A0,
uni2000,
uni2001,
uni2002,
uni2003,
uni2004,
uni2005,
uni2006,
uni2007,
uni2008,
uni2009,
uni200A,
uni200B,
uniFEFF,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
fraction,
percent,
perthousand,
onehalf,
onequarter,
threequarters,
dollar,
cent,
sterling,
yen,
Euro,
currency,
asciicircum,
plus,
minus,
equal,
divide,
less,
greater,
asciitilde,
logicalnot,
multiply,
underscore,
section,
paragraph,
numbersign,
bar,
dagger,
daggerdbl,
ampersand,
asterisk,
degree,
hyphen,
uni2010,
uni2011,
uni00AD,
endash,
emdash,
parenleft,
parenright,
slash,
backslash,
bracketleft,
bracketright,
braceleft,
braceright,
bullet,
at,
periodcentered,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
uniFB01,
uniFB02,
uniFB03,
uniFB04,
uniFB00,
j.alt,
j.alt2,
copyright,
registered,
trademark,
f_i,
f_l,
f_f_i,
f_f_l,
f_f,
u1F4F7,
chat,
uni2709,
LINEtimeline,
music,
phone,
search,
shopping,
uni2323,
u1F508,
user,
LINEApp,
LINEWordmark,
LINECopyright
)